{{ template "header.html" }}

<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <h1 >{{ .companyName}}</h1>
            <div class="m-3">
                company
            </div>
            <div class="text-end pl-5">
                <a type="button" id="add_space_btn" onclick="addSpace()" class="btn btn-light">Add space</a>
            </div>
        </div>
    </div>
</header>

<div class="album py-4 bg-light">
    <div class="container">
        <div class="row">
            {{ range .spaces}}
            <div class="col-md-4">
                <div class="card m-2">
                    <div class="card-header bg-dark text-light">
                        Space
                    </div>
                    <div class="card-body bg-secondary">
                        <h3 class="card-title">{{ .Name}}</h3>
                        <p class="card-text">Space in <b>{{ .Company.Name}}</b> company</p>
                        <a href="/view/space/{{ .Uid}}" onclick="SaveCurrentSpaceToCookie('{{ .Uid}}')" class="btn btn-light">Go to {{ .Name}} space</a>
                        <a class="btn btn-dark mx-2" name="delete_space_btn" onclick="deleteSpace('{{ .Uid}}', '{{ .Name}}')">Delete space</a>
                    </div>
                </div>
            </div>
            {{ end }}
            <h3>{{ .emptyMessage}}</h3>
        </div>
    </div>
</div>

<script defer>
    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)===' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }

    function setCookie(name,value,days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "")  + expires + "; path=/";
    }

    function eraseCookie(name) {
        document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }

    eraseCookie("space_uid")

    function hideButtons() {
        let userRole = getCookie("user_role")

        let deleteSpaceBtns = document.getElementsByName("delete_space_btn")
        deleteSpaceBtns.forEach(function(item, i, deleteSpaceBtns) {
            if ((userRole === "manager") || (userRole === "employee")) {
                item.hidden = true
            }
        });

        let addSpaceBtn = document.getElementById("add_space_btn")
        if (userRole === "employee") {
            addSpaceBtn.hidden = true
        }
    }
    hideButtons()

    function SaveCurrentSpaceToCookie(spaceUid) {
        setCookie("space_uid", spaceUid, 7)
    }

    function addSpace() {
        let spaceName = prompt("Enter the new space' name:")

        if (spaceName === "") {
            alert("There are no space name provided!")

        } else if (spaceName) {
            fetch('http://localhost:9999/api/space/add?space_name=' + spaceName).then(function(response) {
            if ( response.status === 200 || response.status === 201) {
                alert("The space '" + spaceName + "' was added successfully!")
                window.location.reload()
            } else {
                alert("The space '" + spaceName + "' was not added due to an error")
            }
        });
        } else { }
    }

    function deleteSpace(spaceUid, spaceName) {
        let result = confirm("Are you sure you want to delete '" + spaceName + "' space?");
        if (result) {
            fetch('http://localhost:9999/api/space/' + spaceUid + '/delete').then(function(response) {
                if ( response.status === 200 || response.status === 201) {
                    alert("The space '" + spaceName + "' was deleted successfully!")
                    window.location.reload()
                } else {
                    alert("The space '" + spaceName + "' was not deleted due to an error")
                }
            });
        } else { }
    }
</script>

{{ template "footer.html" }}