{{ template "header.html" }}

<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <h1 >{{ .projectName}}</h1>
            <div class="m-3">
                project
            </div>
            <div class="text-end pl-5">
                <a type="button" href="/view/document/add" class="btn btn-light">Add document</a>
            </div>
        </div>
    </div>
</header>

<div class="album py-4 bg-light">
    <div class="container">
        <div class="row">
            {{ range .documents}}
            <div class="col-md-4">
                <div class="card m-2">
                    <div class="card-header bg-dark text-light">
                        Document
                    </div>
                    <div class="card-body bg-secondary">
                        <h3 class="card-title">{{ .Name}}</h3>
                        <p class="card-text">Document in <b>{{ .Project.Name}}</b> project</p>
                        <p class="card-text"><b>Status: </b>Stable</p>
                        <p class="card-text"><b>Creator: </b>Maria Petrova</p>
                        <a class="btn btn-dark" onclick="DeleteDocument('{{ .Uid}}')">Delete document</a>
                        <a class="btn btn-outline-light m-1" onclick="DownloadDocument('{{ .Uid}}')">Download document</a>
                    </div>
                </div>
            </div>
            {{ end }}
            <h3>{{ .emptyMessage}}</h3>
        </div>
    </div>
</div>

<script>
    function DeleteDocument(a) {
        alert(a)
        fetch('http://localhost:9999/api/document/' + a + '/delete').then(function(response) {
            if ( response.status === 200 || response.status === 201) {
                alert("File was deleted successfully!")
                // window.
                // window.history.go(-1); return false;
            } else {
                alert("File was not deleted")
            }
        });
    }
</script>

{{ template "footer.html" }}